.about {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 1.25rem;
    gap: 60px;

    margin: 0 auto;
    margin-top: 100px;
    max-width: 900px;
}

.about > p {
    line-height: 1.875rem;
    width: 615px;
    max-width: 100%;
    margin: 0 auto;
}

.about > h2 {
    width: 615px;
    margin: 0 auto;
}


@media screen and (min-width: 950px) {
    .about {
        justify-content: space-between;
    }
    .about > h2 {
        width: 220px;
        margin: 0;
    }
}
